@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* 1vh = 1% */
    /* height: 100%; */

    background-color: azure;
}

nav{
    display: flex;
    width: 85%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 120px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul a:hover{
    color: deepskyblue;
}

.title{
    margin-left: 8%;
    margin-top: 13%;
}

.title h1{
    font-size: 50px;
    color: rgb(22, 102, 193);
    margin-bottom: 25px;
}

.title span{
    color: rgb(199, 193, 17);
}

.title p{
    color: #555;
    line-height: 30px;
}

.title a{
    background-color: blue;
    padding: 10px 18px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.images img{
    width: 300px;
    height: 300px;
    margin-top: 40px;
}

#about{
    margin-left: 8%;
    margin-top: 30%;
    margin-right: 8%;
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: 35px;
}

.heading span{
    font-size: 22px;
    color: rgb(199, 193, 17);
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img{

    width: 50%;
    height: 70%;
    border-radius: 20px;

}

.about-text{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
}

.information{
    margin: 1rem 0 1.4rem;
    /* 1rem = top
       0 = left
       1.4 = right 
    */

}

.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.information .info-box span{
    font-weight: 400;
    margin-left: 10px;
}

html{
    scroll-behavior: smooth;
}

#skills{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.skill-img img{
    width: 70%;
    object-position: center;
    padding: 3rem;
}

.bar-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 16px;
}

.bar-box h2{
    font-size: 25px;
    font-weight: 800;
}

.bar-box span{
    font-size: 25px;
    font-weight: 700;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(239, 12, 12);
    border-radius: 8px;
}

.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(18, 212, 35);
    border-radius: 8px;

}

.html-bar{
    width: 95%;
}

.css-bar{
    width: 98%;
}

.js-bar{
    width: 97%;
}


#contact{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 13%;
}

.iconDiv{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 70);
    margin: 0 10px;
}

.icon i{
    font-size: 25px;
}

.icon i:hover{
    color: white;
}

footer{
    margin-top: 2rem;
    font-weight: bolder;
    margin-top: 2%;

}

@media(max-width:876px){
    .images{
        display: none;
    }

}

@media(max-width:650px){
    .about-content{
        display: block;
        align-items: center;
    }

    .skill-container{
        display: block;
    }

}